* {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
}

.fundoVermelho {
    background-color: #da6969;
}

.negrito {
    font-weight: bold;
}

#textoPrincipal {
    font-size: 55px;
    color: #fff;
    padding: 10;
    background-color: #444;
    

}